<a href="https://colab.research.google.com/github/DeveloperHasanKhan/DeveloperHasanKhan/blob/main/introduction_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction Python**

## **Variables HW: 2.1-2.3**

In [ ]:
#Creating Variables HW-2.1

name = "Hasan Khan"
age = 26
favorite_color = "Black"
print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Hasan Khan
Age: 26
Favorite Color: Black

In [ ]:
#Variables type checking through tpye() HW-2.2

name = "Hasan Khan"
age = 26
height = 5.6
department_cse = True
result = None
print(type(name))
print(type(age))
print(type(height))
print(type(department_cse))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
# culculate are & perimeter HW-2.3

l = 7
w = 5
area = l * w
perimeter  = 2*(l + w)
print("Are:",area)
print("Perimeter:",perimeter)

Are: 35
Perimeter: 24

## **Data Structure HW: 2.4-2.8**

In [ ]:
#Create list HW-2.4

fruits = ["Apple", "Banana","Guava", "Watermelon", "Penunt"]

print("Bangladeshi_fruits:",fruits[0],fruits[4])

Bangladeshi_fruits: Apple Penunt

In [ ]:
#Create list: add, romove, sort. HW-2.5

fruits = ["Mango","Banana","Apple", "Watermelon", "Orrange"]
fruits.append("Penunt") #add to end
fruits.remove("Banana") #romove by value
fruits.sort() #alphabetical order
print(fruits)

['Apple', 'Mango', 'Orrange', 'Penunt', 'Watermelon']

In [15]:
#Create a Dictionary HW-2.6
student ={
    "name": "Hasan",
    "age": 26,
    "university": "Prime University",
    "batch": "44th",
    "id": 171030101055,
    "semester":"fall",
    "course": ["Data Science", "Networking","C++","Python"]}
print(student["name"])
print(student["age"])
print(student["course"][2])
student["phone"]= "01748349032" #adding
print(student["phone"])
student["age"] = 25
print(student["age"])           #modifying
if "semester" in student:       #Checking if a key exists
  print("Semester is found")
else:
  print("semester not found")

Hasan
26
C++
01748349032
25
Semester is found

In [22]:
#create tuple Hw-2.7
coordinates =(23.78, 90.41)
print("Gulshan latitude:", coordinates[0])

Gulshan latitude: 23.78

In [26]:
#create sets HW-2.8
colors_set1 = {"Red", "blue", "Green", "Black", "White"}
colors_set2 = {"Grea", "black", "Purple","White","Shilver"}

colors_all = colors_set1 | colors_set2 #union

common_colors = colors_set1 & colors_set2 #intersection
print("Union:",colors_all,)
print("Intersection:",common_colors )

Union: {'Shilver', 'Green', 'White', 'blue', 'Purple', 'black', 'Black', 'Grea', 'Red'}
Intersection: {'White'}

## Conditional HW :2.9-2.10

In [36]:
#Create a if-else HW-2.9
number=int(input())
if number > 0:
  print("Number is positive.")
elif number<0:
  print("Number is negative.")
else:
  print("Number is zero.")

0
Number is zero.

In [38]:
#Create Logical Opporators Hw-2.10

is_student = input("Are you a student? (yes/no): ")
age = int(input("Enter your age: "))
if (is_student == "yes" and age < 25) or age > 60:
    print("You are eligible for a discount.")
else:
    print("You are not eligible for a discount.")

Are you a student? (yes/no): no
Enter your age: 24
You are not eligible for a discount.

## **Loop HW: 2.11-2.12**

In [42]:
#Create Loop HW-2.11

n=int(input())
for i in range(1,n+1):
  even=i*2
  print(even,end=" ")

10
2 4 6 8 10 12 14 16 18 20

In [43]:
#Create pyramid pattern using nested loops HW-2.12


n=int(input())
for i in range(1,n+1):
  for space in range(n - i):
        print(" ", end="")
  print("*"*(i*2-1))

10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

## **Function** HW: 2.13-2.14

In [44]:
#Create function HW-2.13

def temp(C):
  F = (C * 9/5) + 32
  return F

result = temp(37)
print(f"The temperature is {result}")

The temperature is 98.6

In [46]:
#Calculates the area of a rectangle

def area(L,W):
  area_rect = L*W
  return area_rect

result = area(12,7)
print(f"The area is {result}")

The area is 84